@model List<BookingModel>

<div class="container">
    <h1>Booked Lessons</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Tutor</th>
                <th>Date</th>
                <th>Time</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var booking in Model)
            {
                <tr>
                    <td>@booking.Tutor.FName @booking.Tutor.SName</td>
                    <td>@booking.TimeSlot.ToShortDateString()</td>
                    <td>@booking.TimeSlot.ToShortTimeString()</td>
                    <td>@booking.Status</td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
</div>
