@model List<BookingModel>

<div class="container">
    <h1>Booked Lessons</h1>

    @if (Model.Count > 0)
    {
        <div class="table-responsive">
            <table class="table table-bordered booking-table">
                <thead class="table-dark">
                    <tr>
                        <th>Tutor</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <!--Order rows by earliest time slot-->
                    @foreach (var booking in Model.OrderBy(b => b.TimeSlot))
                    {
                        //Rows which are in the past, turn them grey, disable button
                        @if (@booking.TimeSlot < DateTime.Now)
                        {
                            <tr class="cardOld">
                                <td class="align-middle">@booking.Tutor.FName @booking.Tutor.SName</td>
                                <td class="align-middle">@booking.TimeSlot.ToShortDateString()</td>
                                <td class="align-middle">@booking.TimeSlot.ToShortTimeString()</td>
                                <td class="align-middle">@booking.Status</td>
                                <td class="actions align-middle">
                                    <div class="d-flex">
                                        <!--Button to cancel lesson, but this button has been disabled-->
                                        @if (booking.Status == Enums.BookingStatus.Booked)
                                        {
                                            <form method="post" action="@Url.Action("CancelLesson", "Student")" class="me-2">
                                                <input type="hidden" name="lessonId" value="@booking.Id" />
                                                <button type="submit" class="btn btn-secondary disabled">Cancel Lesson</button>
                                            </form>
                                        }
                                    </div>
                                </td>
                            </tr>
                        }
                        else
                        //Rows which have not passed yet
                        {
                            <tr>
                                <td class="align-middle">@booking.Tutor.FName @booking.Tutor.SName</td>
                                <td class="align-middle">@booking.TimeSlot.ToShortDateString()</td>
                                <td class="align-middle">@booking.TimeSlot.ToShortTimeString()</td>
                                <td class="align-middle">@booking.Status</td>
                                <td class="actions align-middle">
                                    <div class="d-flex">
                                        <!--Button to cancel lesson-->
                                        @if (booking.Status == Enums.BookingStatus.Booked)
                                        {
                                            <form method="post" action="@Url.Action("CancelLesson", "Student")" class="me-2">
                                                <input type="hidden" name="lessonId" value="@booking.Id" />
                                                <button type="submit" class="btn btn-danger">Cancel Lesson</button>
                                            </form>
                                        }
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        //If no bookings, display this message
        <p class="mt-5 fw-bold fs-5">You do not have any bookings.</p>
    }
</div>

