@*TEacherScreen.cshtml*@
@model TeacherScreenViewModel

<!-- My Teachers -->
<div class="Blue my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="mb-4 mx-2">My Tutors</h2>
            </div>
            <div class="col-md-6">
                <div class="input-group mb-4 mx-2">
                    <input type="text" aria-label="teacherCode" id="teacherCode" name="teacherCode" class="form-control teacherCode" placeholder="Input teacher code here">
                    <button class="btn btn-secondary" type="button" id="button-addon2">Search</button>
                </div>
            </div>
        </div>
        @if (Model.FollowedTeachers.Count == 0)
        {
            <p class="mt-5 fw-bold fs-5">You are not following any teachers or there is a problem with the web application but it is probably the former</p>
        }
        else
        {
            <div class="row">
                @foreach (var teacher in Model.FollowedTeachers)
                {
                    <div class="col-sm-6 col-md-4 col-lg-3 mb-3 mx-0">
                        <div class="card myTeacher-card">
                            <div class="card-body">
                                <h5>@teacher.FName @teacher.SName</h5>
                                <p>@teacher.Email</p>
                                <a href="@Url.Action("TeacherProfileScreen", "Student", new { id = teacher.Id })" class="stretched-link"></a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>



<!--Public Teachers-->
<div class="Orange">
    <h2 class="mb-4 mx-2">Public Tutors</h2>
    <!--If no teachers are found, display message-->
    @if (Model.PublicTeachers.Count == 0)
    {
        <p>No users of Role Teacher found.</p>
    }
    //Display all availible teachers
    else
    {
    <div class="container">
        <div class="row">
                @foreach (var tutor in Model.PublicTeachers)
                {
                    //Only display teachers that are availible
                    @if (tutor.Available == true && !Model.FollowedTeachers.Any(ft => ft.Id == tutor.Id))
                    {
                    //Direct user to teacher profile screen by clicking on card
                    <div class="col-sm-6 col-md-4 col-lg-3 mb-3 mx-0">
                        <div class="card myTeacher-card">
                            <div class="card-body">
                                <h5>@tutor.FName @tutor.SName</h5>
                                <p>@tutor.Email</p>
                                <a href="@Url.Action("TeacherProfileScreen", "Student", new { id = tutor.Id })" class="stretched-link"></a>
                            </div>
                        </div>
                    </div>
                    }
                }
        </div>
    </div>
    }
</div>