@using SAD.Models
@model TeacherModel

<div class="container Orange">
    <!--Row 1-->
    <div class="row">
        <!--Column 1-->
        <div class="col">
            <div>
                <img src="https://d.newsweek.com/en/full/1920025/cat-its-mouth-open.jpg?w=1600&h=1600&q=88&f=b7a44663e082b8041129616b6b73328d" class="rounded roundImage" alt="...">
            </div>
            <div class="mt-4">
                <h4>@Model.User.FName @Model.User.SName</h4>
                <h4>@Model.User.Email</h4>
                <h4>@Model.User.Id</h4>
            </div>
        </div>

        <!--Column 2-->
        <div class="col">
            <h3>About</h3>
            <div class="mb-1">
                <textarea class="form-control" id="aboutTeacher" rows="3" placeholder="Write something promotional about yourself to a potential student"></textarea>
            </div>
            <button class="btn btn-success w-100" type="button">Save</button>
        </div>
    </div>

    <!--Row 1-->
    <div class="row mt-5">
        <!--Column 1-->
        <div class="col">
            <div class="input-group">
                <span class="input-group-text ">Teacher Code</span>
                <input type="text" aria-label="teacherCode" id="teacherCode" class="form-control teacherCode" value="@Model.teacherCode" disabled>
                <button class="btn btn-secondary" onclick="copyToClipboard()">Copy</button>
            </div>
        </div> 
        <!--Column 2-->
        <div class="col">
            <div class="d-flex justify-content-between">

                <button class="btn btn-success flex-fill me-1" type="submit">Available</button>

                <button class="btn btn-primary flex-fill ms-1" type="button">Lessons</button>
            </div>
        </div>
    </div>
</div>


<!--JS for copy button-->
<script>
    function copyToClipboard() {
        var input = document.getElementById('teacherCode');
        var value = input.value;

        //Create a temporary input field
        var tempInput = document.createElement('input');
        tempInput.setAttribute('value', value);
        document.body.appendChild(tempInput);

        //Select the input field and copy the value to the clipboard
        tempInput.select();
        document.execCommand('copy');

        //Remove the temporary input field
        document.body.removeChild(tempInput);
    }

</script>
